<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- Metas -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="keywords" content="developpeur symfony opensource freelance site web gestion blog association" />
        <meta name="description" content="Codeurdulibre, développeur solution open source, site vitrine et logiciel de gestion. Maker FABLAB Arduino Raspberry pi et compagnie !" />
        <meta name="author" content="codeurdulibre" />

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
